@charset "utf-8";

/****** basic ******/
html, body { height:100%; }
body { margin:0; padding:0; font-family:'Noto Sans KR','Apple SD Gothic Neo',sans-serif; font-weight:400; letter-spacing:-1px; }
ul, li { list-style:none; margin:0; padding:0; }
a { display:block; text-decoration:none; }


/**** container ****/
.container { width:100%; position:relative; }

    /*** header ***/
    .container header { display:flex; justify-content:space-between; align-items:center; width:100%; height:70px; padding:0 20px; box-sizing:border-box; position:fixed; top:0; left:0; z-index:99; background-color:#fff; transition:0.5s ease; }
    .container header.active { background-color:transparent; }
    .container header.fade { opacity:0; top:-70px; }

        /** logo **/
        .container header h1 { width:65px; height:40px; margin:0; transition:0.7s; }
        .container header.active h1 { margin-left:-100%; }
            .container header h1 a { width:100%; height:100%; text-indent:-9999px; background:url(../images/logo.png) no-repeat 50% 50%; background-size:cover; }

        /** menu icon **/
        .container header .menu_icon { width:40px; height:20px; display:flex; flex-direction:column; justify-content:center; align-items:center; }
            .container header .menu_icon span { display:block; width:30px; height:2px; background-color:#000; }
                .container header .menu_icon span:first-of-type { margin-bottom:5px; transition:0.2s; }
                .container header .menu_icon.active span:first-of-type { margin-bottom:-2px; }


    /*** navigation ***/
    .container nav { width:100%; height:650px; position:fixed; z-index:9; top:-700px; left:0; background-color:#fff; padding:0 20px; box-sizing:border-box; display:flex; flex-direction:column; justify-content:space-between; transition:0.8s; }
        .container nav.active { top:0; }

        .container nav p { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:500; color:rgb(126, 126, 126); margin:0; margin-top:30px;; }

        /** menu category **/
        .container nav ul { margin-bottom:80px; }
            .container nav ul li { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:600; font-size:3em; letter-spacing:-3px; margin-bottom:7px; }
            .container nav ul li:last-child { margin-bottom:0; }
                .container nav ul li a { color:#000; }


    /*** main ***/
    .container #main { width:100%; }
        .container #main h2, .container #main h3, .container #main span { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; }
        
        /** main title **/
        .container #main #main_title  { width:100%; margin:70px 0; overflow:hidden; }
            /* title */
            .container #main #main_title .title { position:relative; transform:rotate(-15deg) translateX(-30px); }
                .container #main #main_title .title h2 { margin:0; font-size:4em; line-height:1.4; background:linear-gradient(#ffcc47, #ff4351, #2ea7d7); -webkit-background-clip:text; -webkit-text-fill-color:transparent; }
                    .container #main #main_title .title h2 span:first-of-type { margin-left:50px; }
                    .container #main #main_title .title h2 span:nth-of-type(2) { margin-left:90px; }
                    .container #main #main_title .title h2 span:nth-of-type(3) { margin-left:60px; }
                
                .container #main #main_title .description { position:absolute; top:190px; left:230px; }
                    .container #main #main_title .title .description .dot { width:15px; height:15px; background-color:#ffe71b; border-radius:50%; }
                    .container #main #main_title .title .description p { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:500; font-size:0.95em; color:#222; margin:10px 0 0; }

            /* philosophy */
            .container #main #main_title .philosophy { margin:80px 0 0 150px; color:#222; }
                .container #main #main_title .philosophy h3 { margin:20px 0; }
                .container #main #main_title .philosophy p { line-height:1.4; font-size:1.05em; font-weight:400; }
                    .container #main #main_title .philosophy p span { font-weight:500; }

        /** value **/
        .container #main #value { width:100%; color:#222; }
            .container #main #value h3 { width:85%; margin:0 auto; padding-top:70px; box-sizing:border-box; border-top:1px solid #000; }
            .container #main #value h2 { width:85%; margin:20px auto 70px; font-size:3em; line-height:0.95; }
            /* video */
            .container #main #value .video_box { width:100%; }
                .container #main #value .video_box video { width:100%; vertical-align:top; }

        /** history **/
        .container #main #history { width:100%; background:linear-gradient(#ffcc47, #ff4351, #2ea7d7); background-size:500% 500%; animation:gradient 7s ease infinite; color:#222; }
            @keyframes gradient {
                0% { background-position: 50% 50%; }
                50% { background-position: 100% 100%; }
                100% { background-position: 50% 50%; }
            }
            .container #main #history > div { width:325px; height:100vh; }

            /* history title */
            .container #main #history .history_title { width:90vw; margin-right:100px; padding:60px 40px; box-sizing:border-box; background:#fff url(../images/about_next.png) no-repeat 90% 45%; background-size:50px; display:flex; flex-direction:column; justify-content:space-between; transition:0.2s; }
            .container #main #history .history_title.active { background:#eee url(../images/about_next.png) no-repeat 90% 45%; background-size:50px; }
                .container #main #history .history_title .txt h2 { font-size:3em; margin:0; transition:0.2s; }
                .container #main #history .history_title.active .txt h2 { color:#fff; text-shadow:0 0 10px rgba(0, 0, 0, 0.1); }
                .container #main #history .history_title .txt > p { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; color:#565656; font-weight:400; margin:10px 0 0; }

                    .container #main #history .history_title .footprint h3 { font-weight:700; font-size:1.2em; margin:20px 0; }
                    .container #main #history .history_title .footprint p { line-height:1.5; font-weight:400; }
                        .container #main #history .history_title .footprint p span { font-weight:500; }

            /* history box */
            .container #main #history .history_box { margin-right:35px; padding:60px 40px; box-sizing:border-box; display:flex; flex-direction:column; justify-content:space-between; color:#fff; }
            .container #main #history .history_2020 { margin-right:0; }
            .container #main #history p { margin:0; }
                .container #main #history .history_box h3 { font-size:3em; margin:0; }
                    .container #main #history .history_box ul li { margin-bottom:30px; }
                    .container #main #history .history_box ul li:last-child { margin-bottom:0; }
                        .container #main #history .history_box ul li p:first-of-type { font-family:'Raleway', "Helvetica Neue","Apple SD Gothic Neo",sans-serif; font-weight:800; font-size:1.3em; margin-bottom:10px; }
                        .container #main #history .history_box ul li p:last-of-type { font-weight:400; line-height:1.4; }
                            .container #main #history .history_box ul li p:last-of-type span { font-weight:500; }

            .container #main #history .box1 { background-color:rgba(255, 204, 71, 0.5); }
            .container #main #history .box2 { background-color:rgba(255, 67, 81, 0.5); }
            .container #main #history .box3 { background-color:rgba(46, 167, 215); }


    /*** footer ***/
    .container footer { width:100%; padding:35px 20px 0; box-sizing:border-box; font-weight:300; position:relative; z-index:2; background-color:#fff; }
    .container footer img { width:75px; }

    .container footer p:first-of-type { margin:20px 0 35px; }
    .container footer p:nth-of-type(2) { font-size:0.9em; color:rgb(105, 105, 105); }
    .container footer p:last-of-type { margin:35px 0 0; padding-bottom:35px; }

    .container footer > div { display:flex; }
        .container footer > div ul { width:50%; margin-bottom:35px; }
            .container footer > div ul:first-of-type li:last-of-type, .container footer > div ul:last-of-type li { font-weight:500; }
        
            .container footer > div ul li a { color:#000; }